<div id ="shoppingCart">
    {{# if cart}}
    <div class="row">
        <div id="ItemsInCart">
            <ul class = "list-group">
                {{# each cart.listItemInCart }}
                
                    <li class="list-group-item">
                        
                        
                        <div class="col-md-6">
                            <strong>{{this.product.title}}</strong>
                            <span class="badge">{{this.qty}}</span>
                            
                        </div>
                        
                        <div class="col-md-3">
                            <span class="label label-success pull-center">{{this.subTotal}}</span>
                        </div>

                            <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type = "button" data-toggle = "dropdown">Action <span class="caret"></span> </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href = "/products/add-to-cart/{{this.product._id}}">Add</a>
                                </li>
                                <li>
                                    <a href = "/products/minus-to-cart/{{this.product._id}}">Minus</a>
                                </li>
                                <li>
                                    <a href = "/products/remove-all-to-cart/{{this.product._id}}">Remove All</a>
                                </li>
                            </ul>

                        </div>
                    </li>
                {{/ each }}
            </ul>
        </div>
        
    </div>
    <div class="row">
        <div id="totalPrice">
            <strong>Total: {{cart.totalPrice }}</strong>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div id="totalPrice">
            <a href = "/products/checkout" class="btn btn-success">Checkout</a>
        </div>
    </div>
    {{ else }}
    <div class="row">
        <div id="totalPrice">
            <h2>No items in the Cart</h2>
        </div>
    </div>
    {{/ if }}
</div>
