<div class="row">
{{# each products }}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagePath}}" alt="{{this.title}}">
      <div class="caption clearfix">
        <h3>{{this.title}}</h3>
        <p>{{{this.description}}}</p>
        <p>
          <p class = "price pull-left">{{this.price}} VNĐ</p>
          <a href="#" class="btn btn-success pull-right" role="button">Add to Shopping Cart</a>
          </p>
      </div>
    </div>
  </div>
{{/ each }}
</div>